@use '/src/scss/vars' as v;

.footer {
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: v.dynamic-vw(1920, 1px);
    position: absolute;
    top: 0;
    left: 0;
    background: #3A3A22;
    @media (min-width: 1921px) {
      height: 1px;
    }
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: v.dynamic-vw(1920, 20px);
    padding-left: v.dynamic-vw(1920, 20px);
    padding-right: v.dynamic-vw(1920, 20px);
    @media (min-width: 1921px) {
      column-gap: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &-side {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    &-left {
      padding: v.dynamic-vw(1920, 20px) v.dynamic-vw(1920, 20px) v.dynamic-vw(1920, 20px) 0;
      grid-column: 1/ span 2;
      grid-row: 1/ span 1;
      position: relative;
      @media (min-width: 1921px) {
        padding: 20px 20px 20px 0;
      }
      &:before {
        content: '';
        width: v.dynamic-vw(1920, 1px);
        height: 100%;
        background: v.$main;
        position: absolute;
        top: 0;
        right: 0;
        @media (min-width: 1921px) {
          width: 1px;
        }
      }
    }
    &-center {
      padding: v.dynamic-vw(1920, 20px);
      grid-column: 3/ span 2;
      grid-row: 1/ span 2;
      position: relative;
      @media (min-width: 1921px) {
        padding: 20px;
      }
      &:before {
        content: '';
        width: 1px;
        height: 100%;
        background: v.$main;
        position: absolute;
        top: 0;
        right: 0;
        @media (min-width: 1921px) {
          width: 1px;
        }
      }
    }
    &-right {
      padding: v.dynamic-vw(1920, 20px);
      grid-column: 5/ span 3;
      grid-row: 1/ span 2;
      @media (min-width: 1921px) {
        padding: 20px;
      }
    }
  }

  &-copyright {
    font-family: v.$GramatikaR;
    line-height: 1.2;
    font-size: v.dynamic-vw(1920, 14px);
    color: v.$main;
    align-self: end;
    @media (min-width: 1921px) {
      font-size: 14px;
    }
  }

  &-contacts {
    align-self: end;
  }

  &-logo {
    margin-bottom: v.dynamic-vw(1920, 48px);
    cursor: pointer;
    @media (min-width: 1921px) {
      margin-bottom: 48px;
    }
  }

  &-form {
    display: flex;
    flex-flow: column nowrap;
    grid-row: 1 /span 1;

    &-input {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      position: relative;
      &:not(:last-child) {
        margin-bottom: v.dynamic-vw(1920, 12px);
        @media (min-width: 1921px) {
          margin-bottom: 12px;
        }
      }
      &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: v.$main;
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.8;
        z-index: 10;
      }
    }

    &-desc {
      font-family: v.$GramatikaR;
      font-size: v.dynamic-vw(1920, 14px);
      line-height: 1.2;
      color: v.$main;
      opacity: 0.6;
      margin-bottom: v.dynamic-vw(1920, 12px);
      @media (min-width: 1921px) {
        margin-bottom: 12px;
        font-size: 14px;
      }
    }

    input {
      border: none;
      font-family: v.$GramatikaR;
      font-size: v.dynamic-vw(1920, 12px);
      line-height: 1.2;
      color: v.$main;
      opacity: 0.8;
      width: 90%;
      padding-bottom: v.dynamic-vw(1920, 4px);
      @media (min-width: 1921px) {
        padding-bottom: 4px;
        font-size: 12px;
      }
    }
  }
}

.section {
  &-title {
    opacity: .6;
    font-family: v.$GramatikaL;
    line-height: 1.2;
    font-size: v.dynamic-vw(1920, 10px);
    color: v.$main;
    margin-bottom: v.dynamic-vw(1920, 12px);
    text-transform: uppercase;
    @media (min-width: 1921px) {
      font-size: 10px;
      margin-bottom: 12px;
    }
  }
  &-list {
    font-family: v.$GramatikaR;
    line-height: 1.2;
    font-size: v.dynamic-vw(1920, 14px);
    color: v.$main;
    @media (min-width: 1921px) {
      font-size: 14px;
    }
    li {
      &:not(:last-child) {
        margin-bottom: v.dynamic-vw(1920, 4px);
        @media (min-width: 1921px) {
          margin-bottom: 4px;
        }
      }
    }
  }
}

.hidden-submit {
  display: none;
}
