@font-face {
    font-family: 'Gramatika';
    src: url('subset-Gramatika-Light.woff2') format('woff2'),
        url('subset-Gramatika-Light.woff') format('woff'),
        url('subset-Gramatika-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gramatika';
    src: url('subset-Gramatika-Regular.woff2') format('woff2'),
        url('subset-Gramatika-Regular.woff') format('woff'),
        url('subset-Gramatika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

