@use '/src/scss/vars' as v;

.hero {
  &-container {
    padding: v.dynamic-vw(1920, 270px) 0 v.dynamic-vw(1920, 72px) 0;
    @media (min-width: 1921px) {
      padding: 270px 0 72px 0;

    }
    .subtitle-block {
      padding-left: v.dynamic-vw(1920, 20px);
      @media (min-width: 1921px) {
        padding-left: 20px;
      }
    }
    .subtitle-desc {
      max-width: v.dynamic-vw(1920, 330px);
      width: 100%;
      @media (min-width: 1921px) {
        max-width: 330px;
      }
    }
  }

  &-title {
    margin-bottom: v.dynamic-vw(1920, 51px);
    font-family: v.$GramatikaR;
    line-height: .9;
    font-size: v.dynamic-vw(1920, 160px);
    color: v.$main;
    text-transform: uppercase;
    padding-left: v.dynamic-vw(1920, 20px);
    @media (min-width: 1921px) {
      margin-bottom: 51px;
      font-size: 160px;
      padding-left: 20px;
    }
  }

  &-desc {
    font-family: v.$GramatikaR;
    color: v.$main;
    line-height: 1.2;
    font-size: v.dynamic-vw(1920, 15px);
    margin-left: v.dynamic-vw(1920, 310px);
    margin-bottom: v.dynamic-vw(1920, 98px);
    @media (min-width: 1921px) {
      font-size: 15px;
      margin-left: 310px;
      margin-bottom: 98px;
    }
    &-first-line {
      margin-bottom: v.dynamic-vw(1920, 4px);
      @media (min-width: 1921px) {
        margin-bottom: 4px;
      }
    }

    &-second-line {
      margin-left: v.dynamic-vw(1920, 16px);
      @media (min-width: 1921px) {
        margin-left: 16px;
      }
    }
  }

  &-video {
    margin-bottom: v.dynamic-vw(1920, 24px);
    @media (min-width: 1921px) {
      margin-bottom: 24px;
    }
    video {
      width: 100%;
      height: auto;
    }
  }
}


